@font-face {
	font-family: 'Segoe Print';
	src: url('../css/segoe.ttf'); 
}
body {
	font-size: 18px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
	color: #000;
}
a {
	text-decoration: none;
	font-family: 'Open Sans';
}
a, li {
	transition: all 0.5s ease;
}
p, h1, ul, li, h2, h3, h4 {
	margin: 0;
	padding: 0;
}
ul,li {
	list-style: none;
}
h1, h2, h3, h4 {
	letter-spacing: 0.025em;
}
h2 {
	font-size: 28px;
	font-weight: 700;
	text-align: center;
}
.container {
	width: 1140px;
	margin: 0 auto;
}
.container-fluid {
	max-width: 100%;
}
.header {
	padding-top: 30px;
}
.header__navigation {
	background-color: rgb(255, 255, 255);
	box-shadow: inset 0.209px -1.989px 9px 0px rgba(0, 0, 0, 0.16);
	padding-bottom: 30px;
}
.header__navigation a {
 	color: #000;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	
}
.header__menu {
	justify-content: space-between;
} 
.header__menu ul {
	display: flex;
	width: 400px;
	justify-content: space-between;
}
.header__menu li, .header__mail {
	padding: 5px 15px;
	background: transparent;
	border-radius: 5px; 
}
.header__menu li:hover, .header__mail:hover {
	background: #000;
}
.header__menu li:hover a, .header__mail:hover {
	color: #fff;
}
.header__menu a {
	font-size: 13px;
}
.header__mail {
	font-size: 15px;
}
.header__mail i {
	margin-right: 5px;
}
.offer {
	padding: 65px 0;
	background: url(../img/bg.jpg) no-repeat center top / cover;
}
.offer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.offer__sft {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.offer__title {
	text-align: center;
	font-weight: 900;
	color: #1b3bde;
	font-size: 72px;
	letter-spacing: 0.02em;

}
.offer__subtitle {
	font-size: 30px;
	color: #727cae;
	font-weight: 900;
}
.offer__more {
	margin-top: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #1b3bde;
	width: 269px;
	height: 59px;
	border-radius: 5px;
	color: #fff;
	
	font-weight: 900;
	letter-spacing: 0.02em;
	border: 1px solid #1b3bde;
}
.offer__more:hover {
	color: #1b3bde;
	background: transparent;
}
.decision {
	position: relative;
}
.decision__block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.decision__info {
	max-width: 600px;
	
}
.decision__text {
	margin-top: 10px;
	line-height: 24px;

}
.decision__text:nth-child(n+2) {
	margin-top: 25px;
}
.decision__img {
	display: block;
	max-width: 530px;
	min-width: 250px;
	height: 490px;
}
.decision__true {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.decision__true i {
	display: block;
	font-size: 60px;
	transform: rotate(45deg);
}
.decision__true i:last-child {
	transform: rotate(-45deg);
}
.decision__true p {
	margin-top: 70px;
	font-size: 30px;
	font-family: 'Segoe Print';
}
.description {
	padding: 70px 0;
	background: url(../img/bg.jpg) no-repeat center top / cover;
}
.description__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.description p {
	max-width: 705px;
	text-align: center;
	
	line-height: 30px;
}
.description span {
	font-weight: bold;
}
.description img {
	margin-top: 55px;
	max-width: 310px;
	display: block;
}
.tools {
	padding: 70px 0;
}
.tools__title {
	margin-bottom: 70px;
}
.tools__list {
	line-height: 30px;
	max-width: 880px;
	
	margin: 0 auto;
}
.tools__list i {
	margin-top: 8px;
	display: block;
	margin-right: 5px;
	font-size: 11px;
}
.tools__list_first {
	display: flex;
	align-items: center;
}
.tools__list_combined {
	display: flex;
	align-items: flex-start;
}
.tools__list p {
	margin-left: 30px;
}
.tools__list li {
	display: flex;
	margin-left: 60px;
}
.tools__list_third p, .tools__list_fourth p {
	display: flex;
	align-items: flex-start;
	margin-left: 0;
}
.tools__list_third p span, .tools__list_fourth p span {
	display: block;
	margin-right: 5px;
}	
.search {
	padding: 70px 0;
	background: url(../img/bg.jpg) no-repeat center top / cover;
}
.search__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.search__container img {

}
.search__container h2 {

}
.whom {
	padding: 70px 0;
}
.whom__container {

}
.whom__elements {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
}
.whom__element {
	border-radius: 15px;
	width: 350px;
	height: 235px;
	border: 5px solid #0560ce;
	color: #0560ce;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 0 35px;
}
.whom__element:nth-child(n+3) {
	margin-top: 60px;
}
.whom__element i {
	font-size: 48px;
}
.whom__element p {
	margin-top: 30px;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}
.info {
	padding: 70px 0;
	background: url(../img/bg.jpg) no-repeat center top / cover;
}
.info__text {
	line-height: 30px;
}
.info__text a {
	font-size: 18px;
	color: #0560ce;
}
.info__text a:hover, .footer__text a:hover {
	color: #ff8fdf;
}

.footer {
	padding: 30px 0;
}
.footer__text, .footer__text a {
	font-size: 16px;
}
.footer__text {
	text-align: center;
}
.footer__text a {
	color: #0560ce;
}
.footer__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__mail {
	font-size: 18px;
	color: #000;
	display: flex;
	align-items: center;
}
.footer__mail i {
	margin-right: 5px;	
}
.burger-menu {
	display: none;
	font-size: 30px;
	z-index: 20;
}
.menu-collapse{
	display: flex !important;
}
.menu-collapse_list{
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	background: #fff;
	padding: 10px 30px;	
	right: 0;
	top: 0;
	width: 180px !important;
}
.menu-collapse_list li {
	width: 120px;
	margin: 10px 0;
	border: 1px solid;
	border-color: #000 transparent #000 transparent;
}
@media screen and (max-width: 1700px) {
	.decision {
		padding: 40px 0;
	}

	.decision__img:first-child {
	    width: 30%;
    	height: 30%;
    	margin-right: 25px;
	}
	.decision__img:last-child {
		width: 30%;
    	height: 30%;
    	margin-left: 25px;
	}
	.decision__info {
		margin: 0 auto;
	}
}
@media screen and (max-width: 1200px) {
	.container {
		max-width: 85%;
	}
	.decision__block {
		flex-direction: column;
	}
	.decision__img:first-child {
	    width: 90%;
    	height: 30%;
	}
	.decision__img:last-child {
		display: none;
	}
	.search__container img {
		display: none;
	}
	.footer__wrap {
		flex-direction: column;
		align-items: center;
	}
	.footer__text {
		margin: 30px 0;
	}
}
@media screen and (max-width: 992px) {
	.header {
		position: relative;
	}
	.offer__container {
		flex-direction: column;
		align-items: center;
	}
	.offer__diogen {
		margin-top: 20px;
	}
	.whom__element:nth-child(n+2) {
	margin-top: 60px;
	}
	.header__menu {
		display: none;
	}

	.burger-menu {
		display: block;
	}
	.decision__text, .decision__true {
		padding: 0 30px;
	}
}
@media screen and (max-width: 768px) {
	.offer__diogen {
		display: none;
	}
	.search__container img {
		display: none;
	}
	.tools__list_first, .tools__list_combined {
		flex-direction: column;
		align-items: center;
	}

}
@media screen and (max-width: 576px) {
	.decision__true i {
		font-size: 40px;
		height: 50px;
	}
	.decision__true p {
		font-size: 20px;
		max-width: 280px;
		text-align: center;
	}
	.offer__title {
		font-size: 52px;
	}
	.offer__subtitle {
		font-size: 22px;
	}
	.offer__more {
		font-size: 18px;
	}
	.header__mail {
		display: none;
	}
	.whom__element {
		width: 200px;
	}
}

